<h1 ng-init="init()">Videos</h1>
<div class="jumbotron">
    <button ng-repeat="video in Videos" style="text-align: left" class="form-control btn-default" ng-click="goHere()">{{video.video.name}}
        <div style="float:right;"></div>
    </button>
</div>
<button class="btn btn-success" ng-click="openUploadModal()">Add video</button>
<div id="VideoModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Video</h4>
            </div>
            <div class="modal-body">
                <video width="500" height="320" controls>
                    <source src="movie.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>

</div>
<div id="UploadModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Upload</h4>
            </div>
            <div class="modal-body">
                <input ng-model="tempitem.video.name" placeholder="Video Name" class="form-control put-group"/>
                <p></p>
                <input  ng-model="tempitem.video.file" class="btn btn-default " type="file">
                <p></p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button ng-click="addVideo(tempitem)" type="button" data-dismiss="modal" class="btn btn-default">Upload</button>
        </div>
    </div>
</div>