<div class="jumbotron">
    <h1>Welcome to Lectio</h1>

    <p><a class="btn btn-lg btn-success" ng-click="openModal()">Sign Up</span></a></p>
    <a ng-href="#/about"> Already have an existing account? Sign in</a>

    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Sign Up</h4>
                </div>
                <div class="modal-body">
                    <input placeholder="Name" class="input-group form-control"></input>

                    <p/>
                    <input placeholder="Email" class="input-group form-control"></input>

                    <p/>
                    <input placeholder="Password" class="input-group form-control"></input>

                    <p/>
                    <input placeholder="Confirm Password" class="input-group form-control"></input>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>

